<!DOCTYPE HTML>
<!--
	Fractal by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Axe Data Mapper</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
		<!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="content align-right">
					<h1><a href="#">Mapper</a></h1>
					<p>Just a simple way to keep track<br />
					of the physical location of your assets in a warehose</p>
					<ul class="actions">
						<li><a style="width: 200px;" href="/assets/downloads/mapper-android.apk" class="button special icon fa-download" download>Download</a></li>
						<li><a style="width: 200px;" href="http://mapper-portal.tangomangosystem.com" class="button icon fa-sign-in scrolly">Portal</a></li>
					</ul>
				</div>
				<div class="image phone"><div class="inner"><img src="/assets/images/screen.jpg" alt="" /></div></div>
			</header>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/assets/js/main.js"></script>

	</body>
</html>